@charset "UTF-8";
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    color: #000;
    background: #fff;
    overflow - y: scroll;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: 0;
}

body,
input,
select,
button,
textarea {
    font: 14px/1.5 Helvetica, sans-serif;
}

input,
select,
textarea {
    font-size: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    background-color: transparent;
}

ul,
ol,
li {
    list-style-type: none;
    list-style-image: none;
}

img,
iframe {
    border: 0;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th {
    text-align: left;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 500;
}

q:before,
q:after {
    content: '';
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
